@import '../common/constants';
@import '../common/mixins';
@import '../common/keyframes';

.drag-color-cell {
    position: absolute;
    top:0;right:0;left:0;bottom:0;

    color: white;
    background-color: transparent;
    text-shadow: 0 0 4px black; 

    &.dragged:after {
        @include flex(flex, center,center);
        width:100%;
        height:100%;

        @include material-icons;
        content: 'all_out';
    }
}
